* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* generic project styles */
    color: #3a3a3a;
}

h1, h2, h3 {
    /* font-family: 'Oswald', sans-serif; */
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

.hidden-heading {
    display: none;
}

/* Header styles */

header {
    color: #ffffff;
    background-color: #ca3c25;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit; 
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

/* navbar styles with dropdown toggle */

nav {
    position: absolute;
    color: #ffffff;
    background-color: #ca3c25;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* flex-direction:row-reverse;
    justify-content: flex-end; */
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-right: 2.5rem;
}

/* Main styles */
main {
    /* make main element take up any space to push footer down */
    flex: 1 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#hero {
    height: 500px;
    width: 100%;
    background: url('../images/sunset-banner.png') no-repeat center center/cover;
    position: relative;
}

#hero-main-text {
    background-color: rgba(60, 60, 50, 0.7);
    color: #ffffff;
    width: 80vw;
    font-size: 110%;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: 1rem;
    
}

#hero-image-overlay {
    position: relative;
    background-color: rgba(60, 60, 50, 0.4);
}

#intro-video {
    position: relative;
    flex-direction: row;
    margin: 2rem 10vw;
    left: 10vw;
}

#intro-video-player {
    flex-basis: 300px;
    width: 500px;
}

#intro-video-textbox {
    flex-basis: 300px;
    width: 40%;
}


/* Footer styles */


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Body */

    /* Hero image section */
    #hero-main-text {
        width: 40%;
        top: 3rem;
        left: 3rem;
        padding: 1rem;
        
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    #menu li:hover {
        background-color: #004543;
    }
    
}
